.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.videoContainer {
    width: 80vw;
    aspect-ratio: 19/8;
    position: relative;
    top: 20vh;
    overflow: hidden;
    background-image: url('/Icons/codbarscan.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}


.videoContainerSScanning{
    width: 80vw;
    aspect-ratio: 19/8;
    position: relative;
    top: 20vh;
    overflow: hidden;
    background-image: none;


}


canvas {
    position: absolute;
    /* Superpone el canvas sobre el video */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* No bloquea interacción con el video */
}

.botton {
    position: relative;
    top: 20vh;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.boton {
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #13ca2c;
    box-shadow: 1px 1px 1px 0.5px #1b1c1d50, inset 2px 3px 8px 1px var(--boxshadowbotoninset);

    & img {
        width: 40px;
    }
}

.boton.scanning {
    background-color: #FF5733;
    /* Color cuando está escaneando */
}