.form_text {
    width: 90%;   
    height: 25px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(165, 165, 165, 0.8);
    border-radius: 7px;
    font-size: 15px;
    color: rgb(37, 35, 29);
    box-shadow: 3px 5px 8px 1px var(--boxshadowGral);
}