.contenedorArticulo {

    display: flex;
    flex-direction: column;


    & img {
        height: 100px;
        padding: 0 5px;
    }
}

.nombre,
.descripcion {
    margin: 5px auto;
}

.valor {
    text-align: end;
    margin: 0px 10px 5px 0;
}

.superior {

    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.562);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.616);
    background-color: rgb(255, 255, 255);

    :hover {
        transition: 0.5s;
        scale: 1.05;
    }

    :not(hover) {
        transition: 0.5s;
        scale: 1;
    }
    :active{
        transition: 0.5s;
        scale: 0.9;
        
    }
}