.contenedorArticulo {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.616);
    background-color:white;

    :hover {
        transition: 0.5s;
        box-shadow: inset 3px 3px 8px rgba(95, 95, 95, 0.452);
        border-radius: 5px;
        border: 0;

        
    }

    :not(hover) {
        transition: 0.5s;
        
    }

    :active {
        transition: 0.5s;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.616);
    }
}

.contenedorArticulo img {
    height: 100px;
    padding: 0 5px;
}

.nombre,
.descripcion {
    margin: 5px auto;
}

.valor {
    text-align: end;
    margin: 0px 10px 5px 0;
}

.boton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}