.containerPrincipal {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    & img {
        width: 150px;
    }
}

.nombre {
    text-align: center;
}

.nombre h3 {
    font-size: 30px;
    margin: 0;
    font-weight: 800;
    color: var(--ColorPrincipal);
}

.titulo {
    text-align: center;
}

.titulo h4 {
    font-size: 20px;
    margin: 10px;
    color: black;
}

.containerFormulario {
    width: 300px;
    margin-top: 25px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
        align-self: flex-start;
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0px 2px 15px;
    }

    & .boton {
        margin-top: 70px;
    }
}

.nvoUsr {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}