.overlay {
    position: absolute;
    z-index: 97;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #25252386;
    display: flex;
    justify-content: center;

}

.PopUpContainer {
    z-index: 98;
    width: 400PX;
    aspect-ratio: 4/3;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transform: translateY(10vh);
    transition: 2s;
    color: black;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--backgroundPrincipal);
    border: 1px solid rgba(165, 165, 165, 0.3);
    border-radius: 10px;
    box-shadow: 0px 5px 29px 2px var(--boxshadowboton);
    padding: 40px 20px;
}

.pagos {
    width: 100%;
    height: 90%;
    background-color: azure;
}

form {
    margin: 0 auto;
    width: 60%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo{
    display: flex;
    justify-content: space-between;
}


.inputs {
    width: 80px;
}

.botton {
    width: 100%;
    padding: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 25px;

    & .botonok,
    .botoncerrar {
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        box-shadow: 1px 1px 1px 0.5px #1b1c1d50, inset 2px 3px 8px 1px var(--boxshadowbotoninset);

        & img {
            width: 20px;
        }
    }
}

.botonok {
    background-color: #13ca2c;
    transition: background-color 0.3s;

    &:hover {
        background-color: #6ccf79;
    }

    &:active {
        background-color: #13ca2c;
    }
}

.botoncerrar {
    background-color: #d40c0c;

    &:hover {
        background-color: #ce4444;
    }

    &:active {
        background-color: #d40c0c;
    }

}