.containerheader {
    z-index: 90;
    width: 97vw;
    margin: 10px auto;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ColorPrincipal);
    border-radius: 10px;
    padding: 0 10px;
}

.titulo {
    width: 80%;
    align-self: center;
    text-align: center;
}